@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');
body {
    padding-top: 70px;
    height:100vh;
	  min-height:550px;
	  position:relative;
}

.navbar{
  background-color: lightblue;
}

.card-body a{
  text-decoration: none;
  color: #000000;
}

.card-body a:hover{
  letter-spacing: 0.5px;
}

/* ditch the ugle blue outline */
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

/* hide close when burger shown */
.navbar-toggler.collapsed .close-icon {
    display: none;
}

.navbar{
  box-shadow: 0 0 15px 9px rgba(0,0,0,0.4);
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
}

#Search {
  background-color: white;
  color: black;
  border: 2px solid grey;
  border-radius: 3px;
   /* for no radius */

  }

#Search:hover {
  background-color: grey;
  color: white;

}

/* top quote on homepage */
.topquote{
  margin-top: 2%;
  font-family: 'Henny Penny', cursive;
  font-size: 80px;
  text-align: center;
}
.andersen{
  font-size: 25px;
  text-align: right;
  margin-right: 20%;
  font-family: 'Henny Penny', cursive;
  color: #444444;
}

/* card style */
.row {
  margin: 2%;
}

/*login or register*/
#login{
  display: block;
}

.login-reg-panel{
    position: relative;
    top: 30%;
    transform: translateY(-50%);
	text-align:center;
    width:40%;
	right:0;left:25%;
    margin:auto;
    height:200px;
    background-color: lightblue;
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:300px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px rgba(0,0,0,0.4);
}
.login-reg-panel input[type="radio"]{
    position:relative;
    display:none;
}
.login-reg-panel{
    color:#000000;
}
.login-reg-panel #label-login{
    border:1px solid #9E9E9E;
    padding:5px 5px;
    margin-top: 15%;
    margin-left: 20%;
    width:80%;
    display:block;
    text-align:center;
    border-radius:10px;
    cursor:pointer;
    font-weight: 600;
    font-size: 12px;
}
.register-info-box{
    width:40%;
    padding:0 10px;
    top:10%;
    right:0;
    position:absolute;
    text-align:center;

}
.login-show{
    z-index: 1;
    display:block;
    transition:0.3s ease-in-out;
    color:#242424;
    text-align:left;
    padding:10px;
}
.show-log-panel{
    display:block;
    opacity:0.9;
}
.login-show input[type="text"], .login-show input[type="password"]{
    width: 100%;
    display: block;
    margin:20px 0;
    padding: 10px;
    border: 1px solid #b5b5b5;
    outline: none;
}
.login-show input[type="button"] {
    max-width: 120px;
    width: 100%;
    background: #444444;
    color: #f9f9f9;
    border: none;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 2px;
    float:right;
    cursor:pointer;
}
.login-show a{
    display:inline-block;
    padding:10px 0;
}

#albums div.card {
  height: 345px;
  width: 235px;
  transition: width 0.5s, height 0.5s;
}

#albums div.card:hover {
  width: 245px;
  height: 355px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#albums div.card img {
  height: 235px;
  width: 235px;
  transition: width 0.5s, height 0.5s;
}

#albums div.card:hover img {
  height: 245px;
  width: 245px;
}

#artists div.card {
  height: 370px;
  width: 235px;
  transition: width 0.5s, height 0.5s;
}

#artists div.card:hover {
  width: 245px;
  height: 380px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#artists div.card img {
  height: 300px;
  width: 235px;
  transition: width 0.5s, height 0.5s;
}

#artists div.card:hover img {
  height: 310px;
  width: 245px;
}

#genres div.card {
  height: 200px;
  width: 300px;
  transition: width 0.5s, height 0.5s;
  background: rgba(105, 113, 114, 0.473);
}

#genres div.card:hover {
  width: 310px;
  height: 208px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#genres div.card img {
  height: 200px;
  width: 300px;
  transition: width 0.5s, height 0.5s;
}

#genres div.card:hover img {
  height: 208px;
  width: 310px;
}

#genres img {
  object-fit: cover;
  opacity: 0.5;
}

#genres h1 {
  margin-top: 15%;
  margin-bottom: auto;
  color: rgba(0, 0, 0, 0.863);
}

#genres a {
  text-decoration: none;
}

#genres a:hover {
  letter-spacing: 2px;
}

#genres i {
  font-size: 450%;
  color: whitesmoke;
  transform: translate(0, 80%);
}

#genres i:hover {
  font-size: 470%;
}

#exampleModalLabel {
  transform: translate(90%, 0%);
  color: rgb(72, 86, 97);
}

#image_album, #image_genre {
  width: 30%;
  position: sticky;
  top: 24%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2%;
  margin-top: 5%;
}
#img_track_album{
  width: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2%;
}

#text_container {
  display: inline-block;
  margin-left: 4%;
  width: 50%;
  vertical-align: top;
}

#main_info {
  margin: 2% 2% 0% 12% ;
}


#text_container h1 {
  padding: 10% 3% 3% 0%;
}

#text_container h2 {
  padding: 0% 3% 0% 0%;
  color: rgb(45, 146, 192);
}

#text_container p {
  padding: 2% 3% 0% 0%;
  color: #444444cc;
}

 #text_container i {
  padding-top: 2%;
  color: rgba(45, 145, 192, 0.726);
  font-size: 160%;
}

#text_container i:hover {

  color: rgb(45, 146, 192);
} 

 #table_container{
   max-width: 600px;
  margin-left: 30%;
}

#table_container_tracks{
  max-width: 700px;
 margin-left: 15%;
}

#info_tracks{
  color: rgba(45, 145, 192, 0.726);
  position: absolute;
  padding-top: 7px;
}

#text_container a {
  text-decoration: none;
}

#text_container a:hover{
  letter-spacing: 0.5px;
}

#table_container a {
  text-decoration: none;
  color: #242424;
}

#table_container th {
  color: #444444bd;
}

#table_container_tracks a {
  text-decoration: none;
  color: #242424;
}

#table_container_tracks th {
  color: #444444bd;
}

/* .invalid class prevents CSS from automatically applying */
.invalid input:required:invalid {
  background: #BE4C54;
}

/* Mark valid inputs during .invalid state */
.invalid input:required:valid {
  background: #17D654;
}

#album-menu-delete {
  margin-left: 58%;
}

#album-menu-playlist{
  margin-left: 10%;
}

#artist_container{
  position: relative;
  text-align: left;
  margin-left: 0%;
} 

#artist_photo_container img {
  margin: 0% 0% 0% 0%;
  width: 100%; 
  border-radius: 0%;
}

#artist_photo_container {
width: 35%;
position: fixed;
left: 0px;
margin-top: 0%;
padding-left: 0%;
color: #000000;
}

.artist_info_container, .track_info_container {
width: 65%;
position: absolute;
right: 0px;
margin-top: 4%;
padding-left: 2%;
}

.artist_info_container p, .track_info_container p {
  color: #444444;
  margin-top: 3%;
  margin-bottom: 3%;
}

.artist_info_container h2, .track_info_container h2 {
  margin-bottom: 5%;
}

#artist_to_album {
  text-decoration: none;
  color: #444444;
}

.artist_info_container div.card-body{
  padding: 1% 5% 1% 5%;
  
}

.artist_info_container div.card:hover {
  width: 102%;
  height: 102%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#playlists .card-title{
  margin-bottom: 0%;
  margin-top: 25%;
  color: rgb(24, 48, 71);
}

#playlists a {
  text-decoration: none;
  visibility: hidden;
}

#playlists a:hover{
  visibility: visible;
}

#playlists .col div{
  height: 200px;
  width: 200px;
  transition: width 0.5s, height 0.5s;
}

#playlists .col div:hover{
  height: 205px;
  width: 205px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#playlists .col img {
  height: 200px;
  width: 200px;
  transition: width 0.5s, height 0.5s;
}

#playlists .col:hover img{
  height: 205px;
  width: 205px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.5;
}

#playlists img {
  object-fit: cover;

}

#playlists i {
  visibility: visible;
  font-size: 450%;
  color: whitesmoke;
  transform: translate(0, 80%);
}

#playlists i:hover {
  font-size: 470%;
}

#trackdetails {
  position: absolute;
  left: 1%;
  bottom: 20%;
  margin-top: 5%;
  font-size: 30px;
  color: #444;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

#trackdetailsAlbum {
  position: absolute;
  left: 1%;
  bottom: 15%;
  margin-top: 5%;
  font-size: 20px;
  color: #444;
  margin-left: 20px;
  text-decoration: none;
  font-style: italic;
}

#trackDuration {
  position: absolute;
  left: 1%;
  bottom: 8%;
  font-size: 15px;
  color: #444;
  margin-left: 20px;
}

#image_album_viewTrack {
  width: 95%;
  position: sticky;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2%;
  margin-top: 10%;
}

#sidebar{
  height: 90%;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 10%;
  left: 0;
  overflow-x: hidden;
  background-color: lightgray;
}

.nav-link.active{
  font-weight: bold;
}
