body {
    padding-top: 70px;
}

.card-body a{
  text-decoration: none;
}

.card-body a:hover{
  letter-spacing: 0.5px;
}

/* ditch the ugle blue outline */
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

/* hide close when burger shown */
.navbar-toggler.collapsed .close-icon {
    display: none;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
}

#Search {
  background-color: white;
  color: black;
  border: 2px solid grey;
  border-radius: 3px;  
   /* for no radius */

  }

#Search:hover {
  background-color: grey;
  color: white;

}

/* card style */
.row {
  margin: 2%;
}

#albums div.card {
  height: 333px;
  width: 235px;
  transition: width 0.5s, height 0.5s;
}

#albums div.card:hover {
  width: 245px;
  height: 343px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#genres div.card {
  height: 200px;
  width: 300px;
  transition: width 0.5s, height 0.5s;
  background: grey;
}

#genres div.card:hover {
  width: 310px;
  height: 208px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#genres img {
  object-fit: cover;
  opacity: 0.6;
}

#genres h1 {
  transform: translate(0, 100%);
  color: whitesmoke;
}

#genres a {
  text-decoration: none;
}

#genres a:hover {
  letter-spacing: 1px;
}

#genres i {
  font-size: 450%;
  color: whitesmoke;
  transform: translate(0, 80%);
}

#genres i:hover {
  font-size: 470%;
}
